In [129]:
#Imports
import psycopg2
import pandas as pd


#Setup Connection
connection = psycopg2.connect(
    host = 'arkatechture-assignment.chzhrd21j2xp.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'arka_admin',
    password = 'arkaadmin',
    database='arkatechture_assignment'
    )
cursor=connection.cursor()

#SQL Queries
sql = """
SELECT sales_person, SUM (amount) AS totals
FROM salesdata_table6
GROUP BY sales_person;
"""

pd.read_sql(sql, con=connection)

#SELECT ID, MAX(reg_sum)
#FROM
#(
 #  SELECT ID, SUM(value) AS reg_sum FROM table 
  # WHERE  (date BETWEEN '2009-01-01' AND '2009-03-01')
   #GROUP BY  ID, reg
#) a GROUP by ID

    sales_person sales_department  amount  quantity               street  \
0   Linn Becerra     Department B   62.02        96     2 Riverside Hill
1   Linn Becerra     Department B   41.51         7  66172 Thierer Plaza
2   Chad Yeatman     Department A   90.81        41   6801 Moulton Place
3  Shane Simkins     Department B   72.28        78       7 Porter Court
4    Ortensia Le     Department C   27.60        46  78369 Fuller Avenue

             city      state                           item_id       date
0      Birmingham    Alabama  dbc059765d12d8d65f1294f3cf762167  1/31/2017
1     Springfield   Illinois  f85a7324056fafe32326e3bea6159f18   6/7/2016
2         Houston      Texas  0b96bc607f3d45f9fc9bcf98ee3832ea  2/16/2017
3  Salt Lake City       Utah  b9ef05f474415152329baa872daeb18c  12/4/2016
4      Saint Paul  Minnesota  8f27a56beddac8140948e560b1b97825  12/6/2016

DatabaseError: Execution failed on sql '
SELECT sales_person, SUM (amount) AS totals
FROM salesdata_table6
GROUP BY sales_person;
': relation "salesdata_table6" does not exist
LINE 3: FROM salesdata_table6
             ^