In [245]:
#Imports
import psycopg2
import pandas as pd
import csv

#Setup Connection
connection = psycopg2.connect(
    host = 'arkatechture-assignment.chzhrd21j2xp.us-east-2.rds.amazonaws.com',
    port = 5432,
    user = 'arka_admin',
    password = 'arkaadmin',
    database='arkatechture_assignment'
    )

cursor=connection.cursor()

#Total sales amount for each sales person in descending order 
sql_1 = """
SELECT sales_person, SUM (amount) AS sum
FROM salesdata
GROUP BY sales_person
ORDER BY sum DESC
"""

#Sales department with the highest sales in 2017
sql_2 = """
SELECT sales_department, MAX(amount) as highest_sales
FROM (SELECT sales_department, SUM(amount) as amount
FROM salesdata
WHERE date BETWEEN '1/1/2017' AND '12/31/2017'
GROUP BY sales_department) subtable
GROUP BY sales_department
ORDER BY highest_sales DESC
LIMIT 1
"""

#Average sales per month for all employees
sql_3 = """
SELECT sales_person, date_trunc('month', date) AS month, avg(amount) as monthly_avg
FROM salesdata
GROUP BY sales_person, month
ORDER BY month ASC
"""

#Sales person with highest sales 
sql_4 = """
SELECT sales_person, MAX(amount) as max_amount
FROM (SELECT sales_person, SUM(amount) as amount 
FROM salesdata 
GROUP BY sales_person
) subtable
GROUP BY sales_person
ORDER BY max_amount DESC
LIMIT 1;
"""

#Execute sql statement (choose sql statement here to see corresponding output)
pd.read_sql(sql_1, con=connection)

#Export answers to csv 
#cursor.execute(sql_4)
#row = cursor.fetchall()
#with open('salesperson_highestsales.csv', 'w', newline='') as fp:
#    a = csv.writer(fp, delimiter=',')
#    a.writerow(['sales_person', 'highest_sales'])
#    a.writerows(row)

#cursor.close()